.ui {
    .modal {
        width: 36% !important;
        height: auto;
    }
    .content{
        padding: 0 52px !important;
    }
    .header {
        border-bottom: none !important;
        font-size: 20px !important;
        font-family: mazzard soft h, helveticaneue-light, helvetica neue light, helvetica neue, Helvetica, Arial,
            lucida grande, sans-serif;
        clear: both;
        color: #0a472e !important;
        text-align: left;
        padding: 31px 52px 15px !important;
    }
}
.dimmer {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.input > input:focus {
    border-color: green;
}
.field {
    text-transform: capitalize !important;
    .radio {
        label {
            font-size: 16px;
        }
    }
}
.continute {
    background: green;
    color: #fff;
    border: none;
    width: 32%;
    padding: 15px;
}
