$color_border: rgb(229,229,229);
$color_green: rgb(75,174,79);
$color_green_yelow: rgb(204,219,56);
$color_green_icon: rgb(255, 255, 255);
$color_wight:#fff;
$color_e5: #e5e5e5;
$background_man:#4bae4f;
$background_page: #ff9933;
$size50: 50px;
$size20: 20px;
$size15: 15px;
$size30: 30px;

$font-normal:14px;
$green: #4BAE4F;
$yellow-light: #ccdb38;
$orange: #fe9c00;
$white: #ffffff;
$brown: #333333;