@import "./_variable";
@import './components';
.disable {
  opacity: 0.5;
  cursor: none !important;
}

.success {
  background-color: #f6ffed !important;
  border: 1px solid #b7eb8f !important;
  i {
    margin-right: 10px;
  }
}

.error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
  i {
    margin-right: 10px;
  }
}
.text-red{
  color: red;
}
button:hover {
  color: #fff;
  background-color: #80891b;
  border-color: #80891b;
}
button {
  background-color: #a8b324;
  border: none;
  padding: 0.8em;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  /* font-size: 12px; */
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0;
  float: left;
}
