@import "variable";

.disable {
  opacity: 0.5;
  cursor: none !important;
}

.success {
  background-color: #f6ffed !important;
  border: 1px solid #b7eb8f !important;
  i {
    margin-right: 10px;
  }
}

.error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
  i {
    margin-right: 10px;
  }
}
.text-red{
  color: red;
}
button:hover {
  color: #fff;
  background-color: #80891b;
  border-color: #80891b;
}
.show-hide {
  position: absolute;
  right: 10%;
  top: 52%;
  img{
      width: 20px;
  }
}