.logo-page {
    img {
        width: 60px;
    }
    .line {
        padding: 0 !important;
        margin-left: 16px;
        border-left: 2px solid #fff;
    }
    a:hover {
        background-color: #ddd;
        color: black;
    }
}