.checkboxBusiness {
  display: flex;
  text-align: left;
  white-space: nowrap;
  ul {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    list-style-type: none;
    margin-left: 51px;
    width: 100%;
    background: #fff;
    li {
      padding-left: 17px;
    }
    .title-type {
      margin: 0 0 0.28571429rem 0;
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.92857143em;
      font-weight: 700;
    }
    span.start{
      margin-left: 6px;
    }
  }
}
