.calendar {
  width: 100%;
  margin-left: -5px;
  .input {
    margin-top: 13px;
  }
}
.ui[className*="left icon"].input > input {
  padding-left: 13px !important;
}

.form-register {
  padding: 25px 50px;
  background: #f6f6f6;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  .title-page {
    clear: both;
    color: #0a472e !important;
    text-align: left;
    font-size: 20px;
    padding: 10px 52px 15px 0 !important;
    font-weight: bold;
  }
}
.field {
  display: flex !important;
  .title {
    width: 200px;
    align-self: center;
    font-weight: bold;
    .start {
      margin-left: 6px;
    }
    .selection {
      margin-left: 4px !important;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .show-hide {
    position: absolute;
    right: 10%;
    top: 23%;
    img{
        width: 20px;
    }
}
.show-hide-comfirm{
  position: absolute;
  right: 10%;
  top: 31%;
  img{
      width: 20px;
  }
}
}
.text-error {
  color: red;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.form-login{
  justify-content: center;
  display: flex;
}