.content-block {
    font-family: "Montserrat", sans-serif;
    position: relative;
    .banner {
        opacity: 0.5;
        img {
            min-width: 100%;
        }
    }
    .content-page {
        position: absolute;
        left: 0;
        right: 0;
        top: 10%;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        box-shadow: 0.5px 0.5px 10px 10px green;
        .title {
            font-size: 20px;
            .text {
                font-style: italic;
                font-family: Georgia, Times, Times New Roman, serif;
            }
        }
    }
}

.form {
    font-size: 14px;
    .form-group {
        input {
            padding: 10px 40px 10px 7px;
            border: 1px solid;
            color: #ddd;
            border-radius: 5px;
            margin: 10px 0;
            width: 100%;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
   
        .text-red {
            color: red;
            margin-left: 5px;
        }
        .text-error {
            color: red;
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
    }
    button {
        background-color: green;
        border: none;
        padding: 0.8em;
        width: 100%;
        color: #fff;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        /* font-size: 12px; */
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        margin: 15px 0;
        float: left;
    }
}
.fogot-pass {
    cursor: pointer;
    text-decoration: underline;
}
.question {
    font-size: 14px;
    margin: 10px 0 35px 0;
    .sign-up {
        color: #32cd32;
        cursor: pointer;
        margin-left: 5px;
    }
    .sign-up:hover {
        color: green;
        font-weight: bold;
        text-decoration: underline;
    }
}
